@page {
  size: A4;
  /* margin: 0; */
}

@media print {
  div.page {
    page-break-before: always;
  }
  
  div.no-page-break {
    page-break-inside: avoid;
  }
  
  .no-float {
    float: none !important;
  }
}

body {
  background-color:#cfd8dc !important;
}

.box-container
{
    /* max-width:1200px; */
    max-width:21cm;
    margin: 0 auto;
    padding:30px;
    background:#ffffff;
    margin-top:50px;
    margin-bottom:50px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);    
}

.box-filter
{
    /* max-width:1200px; */
    width:5cm;
    margin: 0 auto;
    padding:20px;
    background:#ffffff;
    margin-top:50px;
    margin-bottom:50px;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);    
}

.box-all {
  max-width:25cm;
}

.kreport-title {
  
}

.kreport-section-title {
  color: #EC391B;
}

.kreport-horizontal-line-0 {
  border-top: 3px solid black;
}

.kreport-horizontal-line-1 {
  border-top: 1px solid #EC391B;
}

.kreport-horizontal-line-2 {
  border-top: 1px solid #ccc;
}

.kreport-horizontal-line-3 {
  border-top: 1px solid #ccc;
  height: 0;
}

.kreport-margin-10px {
  margin-bottom: 10px;
}

.kreport-margin-30px {
  margin-bottom: 30px;
}

